@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.time {
    width: 100%;
    font-size: 14px;
    text-align: center;
    &__text {
        font-size: 9em;
        color: white;
    }

    &__date {
        font-size: 2em;
        color: white;
    }
}



.greeting {
    position: fixed;
    top: 1rem;
    left: 1rem;

    &__text, &__name {
        color: white;
    }

    &__name {
        font-size: 3rem;
    }
}

.a {
    font-size: 100px;
}

.popup {
    visibility: hidden;
    position: fixed;
    transform: translateY(100vw);
    width: fit-content;
    height: fit-content;
    min-width: 300px;
    background: white;
    transform: translateY(100vh);
    text-align: center;
    border-radius: 20px;
    padding: 1.2rem;
    box-sizing: border-box;
    transition: all .5s ease-in;

    &.open {
        visibility: visible;
        left: 50%;
        top: 25%;
        bottom: 25%;
        transform: translate(-50%, 0);
    }

    &__input {
        border: none;
        outline: none;
        margin-top: 2rem;
        border-bottom: 1px solid lightgray;
        transition: all .2s ease-in-out;
        width: 90%;
        &:focus {
            border-bottom: 1px solid black;
            width: 100%;
            font-size: 1.2rem;
        }
    }

    &__button {
        border: none;
        padding: .7rem;
        background: lightcyan;
        cursor: pointer;
        transition: all .4s ease-in;
        margin-top: 1rem;
        width: 75%;
        font-size: 1rem;

        &:hover {
            background: cyan;
        }
    }


    &__para {
        font-size: .8rem;
        margin-top: .8rem;
    }
}


.quote {
    position: fixed;
    bottom: .5rem;
    left: .5rem;
    width: 30vw;
    &__content, &__author {
        color: white;
    }

    &__content {
        font-style: italic;
        font-size: 1.2rem;
    }
}